<html xmlns:th="www.thymeleaf.org">

 <head>
   
    <title>Admin Functionality add room</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
 </head>

 <body>
   
   <div class="container">
   
   <header>
   
   <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" th:href="@{/}">Hotel Booking System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@{/user/admin/addroom}">Administration</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/user/admin/customer}">Reports</a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link" th:href="@{/register}">MyAccount</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">ChangePassword</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/login}">logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="header-about-page">
    <h1 align="center" style="color:white;">Room Entry Form </h1>      
    
  </div>
</header>


<hr>
  
  <h4 align="left" style="color:lightgreen;">System User Registration Form</h4>
      
      
     <form action="#" th:action="@{/user/admin/saveroom}" th:method="POST" th:object="${room}" id="myform" enctype="multipart/form-data">
         
          
         <input type="hidden" th:field="*{roomId}"/>
         
         <div class="form-group row">
             
             <label for="roomType" class="col-sm-2 col-form-label"><b>RoomType</b></label>
   
               <div class="col-sm-10">
     
                <select name="roomType" th:field="*{roomType}"  id="roomType" class="form-control">
                      
                      <option value="normal">Normal</option>
                      <option value="dulexure">Dulexure</option>
                     
                 </select>
             </div>
          </div>
          
           <div class="form-group row">
             
             <label for="bedType" class="col-sm-2 col-form-label"><b>BedType</b></label>
   
               <div class="col-sm-10">
     
                <select name="bedType" th:field="*{bedType}"  id="bedType" class="form-control" >
                      
                      <option value="single">Single</option>
                      <option value="double">Double</option>
                     
                 </select>
             </div>
          </div>
          
              <div class="form-group row">
   
            <label for="roomPrice" class="col-sm-2 col-form-label"><b>Room Price</b></label>
   
            <div class="col-sm-10">
     
               <input type="text" th:field="*{roomPrice}" class="form-control" id="roomPrice" />
   
             </div>
  
           </div>
           
               <div class="form-group row">
   
            <label for="roomDescription" class="col-sm-2 col-form-label"><b>Room Description</b></label>
   
            <div class="col-sm-10">
     
               <input type="text" th:field="*{roomDescription}" class="form-control" id="roomDescription" />
   
             </div>
  
           </div>
           
              <div class="form-group row">
            
                 <label for="fileupload" class="col-sm-2 col-form-label"><b>Select file to upload</b></label>
   
                 <div class="col-sm-10">
     
                      <input type="file" class="form-control-file" id="roomImage" accept=".jpg,.png,.gif,.bmp" required name="Image"/>
      
                </div>
  
               </div>
               
                
               
                  <div class="form-group row">
   
                       <label for="roomFacility" class="col-sm-2 col-form-label"><b>Room Facility</b></label>
                     
                       <div class="form-check">
                          <input class="form-check-input" type="checkbox" th:field="*{facility.additionalBeds}" id="flexCheckDefault"  checked>
                          <label class="form-check-label" for="additionalBeds">
                                additionalBeds
                          </label>
                       </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox"  th:field="*{facility.babySitting}" id="babySitting" checked>
                          <label class="form-check-label" for="babySitting">
                               babySitting
                         </label>
                      </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" th:field="*{facility.freeWifi}" id="freeWifi" checked>
                          <label class="form-check-label" for="freeWifi">
                               freeWifi
                         </label>
                      </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" th:field="*{facility.laundaryService}" id="laundaryService" checked>
                          <label class="form-check-label" for="laundaryService">
                               laundaryService
                         </label>
                      </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" th:field="*{facility.roomService}" id="roomService" checked>
                          <label class="form-check-label" for="roomService">
                              roomService
                         </label>
                      </div>
                       <div class="form-check">
                          <input class="form-check-input" type="checkbox" th:field="*{facility.transportation}" id="transportation" checked>
                          <label class="form-check-label" for="transportation">
                              transportation
                         </label>
                      </div>
   
                  </div>
               
               
             
               
               
               
             
            
          <button type="submit" class="btn btn-primary">Register Room</button>  <button type="reset" class="btn btn-primary"> Reset Registration Form</</button>
    
    
     
          </form>
          
          
  </div>
  
  </body>
  
  </html>

