<html xmlns:th="www.thymeleaf.org">

 <head>
   
    <title>Home Page</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
 </head>

 <body>
   
   <div class="container">
   
   <header>
   
   <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" th:href="@{/}">Hotel Booking System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/about}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Book Room</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Room List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/register}">Register</a>
      </li>
       <li class="nav-item">
        <a class="nav-link"th:href="@{/login}">Login</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('/images/hotelhomepage.png');
      background-repeat:no-repeat;
       background-size: cover;
      height: 260px;
    "
  >
    
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">The Largest Branded Network of Stay Hotel</h1>
          <h4 class="mb-3">Book your rooms to enjoy your summer holidays </h4>
          <h5 class="mb-3">Book your room in single place</h5>
        </div>
      </div>
    </div>
  </header><hr>
  
  
<div class="container">
          
  <div class="row">
            
  <div class="col-md-4">
  
  <div class="information-base">
  
  <h5><span><i class="fas fa-hotel"></i></span> Room Management</h5>
  
  <p>Online hotel reservation are a popular method for booking hotel rooms. Travellers can book rooms on a computer by using online  security to protect.</p>
  
  </div>
  
 </div>
<div class="col-md-4">
  
  <div class="information-base">
  
  <h5><span><i class="fas fa-user-friends"></i></span> Customer Management</h5>
  
  <p>Their privacy and financial information and by using several online travel agents to comp[are prices and facilities at different hotels].</p>
  
  </div>
  
 </div>

<div class="col-md-4">
  
  <div class="information-base">
  
  <h5><span><i class="fas fa-book"></i></span> Booking Management</h5>
  
  <p>Prior to the internet, travellers write, telephone the hotel directly, or use a travel agent to make a reservation.Nowadays its too easy to book rooms accordingly.</p>
  
  </div>
  
 </div>

</div>
</div>

<section id="ABC">

<h3 align="center" style="color:red;">DON'T MISS THIS SPECIAL OFFER FOR LIMITED TIME ONLY! BOOK HOTEL NOW</h3>

<P align="center">Prior to the internet, travellers write, telephone the hotel directly, or use a travel agent to make a reservation.Nowadays online travel agents have pictures of hotels and rooms, information on prices and deals, and even information on local resorts. Many also allow reviews of the traveler to be recorded with the online travel agent.Book roon soon and enjoy your summer holidays.</p>
  
<p align="center"><button type="button" class="btn btn-primary"><span><i class="fas fa-book"></i></span> Book Your Room</button> <button type="button" class="btn btn-success"><span><i class="fas fa-address-book"></i></span> Contact Us</button></p><br>
</section>

<hr>

<section class="footer">

<div class="container">
          
  <div class="row">

<div class="col-md-4">

<h4>Features</h4>

<p>Room Management</p>


<p>Book Management</p>

<p>User Management</p>

</div>

<div class="col-md-4">

<h4>Hotel Management</h4>


<p> <i class="fa fa-phone-square" ></i>9455685353</p>

<p> <i class="fa fa-enevelople" ></i>hotelManagement@gmail.com</p>

<p> <i class="fa fa-home" ></i> shalimarbagh New Delhi</p>

</div>

<div class="col-md-4">

<h4>Browse Pages</h4>

<p>Registration</p>

<p>Book Room</p>

<p>Room Lists</p>

</div>

</div></div>

<hr>

<p class="copyrite">Made with <i class="fa fa-heart" ></i>Nitin Raj <b>Hotel Booking System-All rights reserved</b></p>

</section>


</div>
   
 </body>
 
</html>